.footer {
    background-color: #097cf0; // Light grey background
    color: #0877e7; // Dark text
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    border-top: 1px solid #0766c5; // Subtle border
}

.footer p {
    margin: 0;
}
